aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
cchardet==2.1.7
certifi==2021.10.8
charset-normalizer==2.0.9
colorama==0.4.4
frozenlist==1.2.0
idna==3.3
multidict==5.2.0
requests==2.26.0
urllib3==1.26.7
yarl==1.7.2
